@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  background-color: rgb(9, 0, 39);
  scroll-behavior: smooth !important;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
