@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  background-color: rgb(45, 0, 60);
  scroll-behavior: smooth !important;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
